<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 



</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all">
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--js-->
<script src="js/jquery-2.1.1.min.js"></script>
<!--icons-css-->
<link href="css/font-awesome.css" rel="stylesheet">
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Carrois+Gothic'
	rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600'
	rel='stylesheet' type='text/css'>
<!--//skycons-icons-->
</head>
<body>
	<div class="page-container">
		<div class="left-content">
			<div class="mother-grid-inner">
				<!--header start here-->
				<div class="header-main">
					<div class="header-left">
						<div class="logo-name">
							<a href="/againOnMainPage">
								<h1>ProjectManagement</h1> <!--<img id="logo" src="" alt="Logo"/>-->
							</a>
						</div>
						<!--search-box-->
						<!--//end-search-box-->
						<div class="clearfix"></div>
					</div>
					<div class="header-right">
						<div class="profile_details_left">
							<!--notifications of menu start -->

							<div class="clearfix"></div>
						</div>
						<!--notification menu end -->
						<div class="profile_details">
							<ul>
								<li class="dropdown profile_details_drop"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">
										<div class="profile_img">

											<div class="user-name">
												<p th:text=${userDetail}></p>
												<span th:text=${userRole}></span>
											</div>
											<i class="fa fa-angle-down lnr"></i> <i
												class="fa fa-angle-up lnr"></i>
											<div class="clearfix"></div>
										</div>
								</a>
									<ul class="dropdown-menu drp-mnu">
										<li><a th:href="@{/logouts}"><i
												class="fa fa-sign-out"></i> Logout</a></li>
									</ul></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!--heder end here-->
			<!-- script-for sticky-nav -->
			<script>
				$(document).ready(function() {
					var navoffeset = $(".header-main").offset().top;
					$(window).scroll(function() {
						var scrollpos = $(window).scrollTop();
						if (scrollpos >= navoffeset) {
							$(".header-main").addClass("fixed");
						} else {
							$(".header-main").removeClass("fixed");
						}
					});

				});
			</script>
			<!-- /script-for sticky-nav -->
			<!--inner block start here-->
			<div class="inner-block">
				<div class="blank">
					<p>
						<strong>Pending Tasks</strong>
					</p>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Task Title</th>
								<th>Project Title</th>
								<th>Task Start Date</th>
								<th>Task End Date</th>
								<th>User Name</th>
								<th>Task Status</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each=" task:${pendingTaskList}">
								<td th:text="${task.task_title}"></td>
								<td th:text="${task.task_project_id.title}"></td>
								<td th:text="${task.start_Date}"></td>
								<td th:text="${task.end_Date}" />
								<td th:text="${task.task_user_id.User_Name}"></td>
								<div th:switch="${task.task_Status}">
									<td th:case="0"><img src="/images/pending.png"></td>
									<td th:case="1"><img src="/images/onTime.png"></td>
									<td th:case="2"><img src="/images/late.png"></td>
								</div>
								<td><a
									th:href="@{/changeTaskStauts(taskId= ${task.task_id})}">View
										Full Task Or Edit</a></td>
							</tr>
						</tbody>
					</table>
					<p>
						<strong>Completed Task</strong>
					</p>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Task Title</th>
								<th>Project Title</th>
								<th>Task Start Date</th>
								<th>Task End Date</th>
								<th>User Name</th>
								<th>Task Status</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each=" task:${completedTaskList}">
								<td th:text="${task.task_title}"></td>
								<td th:text="${task.task_project_id.title}"></td>
								<td th:text="${task.start_Date}"></td>
								<td th:text="${task.end_Date}" />
								<td th:text="${task.task_user_id.User_Name}"></td>
								<div th:switch="${task.task_Status}">
									<td th:case="0"><img src="/images/pending.png"></td>
									<td th:case="1"><img src="/images/onTime.png"></td>
									<td th:case="2"><img src="/images/late.png"></td>
								</div>
								<td><a
									th:href="@{/changeTaskStauts(taskId= ${task.task_id})}">View
										Full Task Or Edit</a></td>
							</tr>
						</tbody>
						<tr><td></td></tr>
							<tr>
								<td><img src="/images/pending.png"><span>=Pending Task</span></td>
							</tr>
							<tr>
								<td><img src="/images/onTime.png"><span>=Completed Task On Time</span></td>
							</tr>
							<tr>
								<td><img src="/images/late.png"><span>=Completed Task Late</span></td>
							</tr>
					</table>
				</div>
			</div>

			<!--inner block end here-->
			<!--copy rights start here-->
			<!--COPY rights end here-->
		</div>

		<!--slider menu-->
		<div class="sidebar-menu">
			<div class="logo">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span>
				</a> <a href="#"> <span id="logo"></span> <!--<img id="logo" src="" alt="Logo"/>-->
				</a>
			</div>
			<div class="	menu">
				<ul id="menu">
					<li id="menu-home"><a href="/againOnMainPage"><i
							class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
					<li id="menu-comunicacao"><a href="#"><i
							class="fa fa-book nav_icon"></i><span>Employees</span><span
							class="fa fa-angle-right" style="float: right"></span></a>
						<ul id="menu-comunicacao-sub">
							<li id="menu-arquivos"><a
								th:href="@{/listOfEmployeeForUser}">Employee Detail</a></li>
						</ul></li>
					<li id="menu-comunicacao"><a href="#"><i
							class="fa fa-cogs"></i><span>Task</span><span
							class="fa fa-angle-right" style="float: right"></span></a>
						<ul id="menu-comunicacao-sub">
							<li id="menu-arquivos"><a th:href="@{/tasklistOfEmployee}">Task
									History</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!--slide bar menu end here-->
	<script>
		var toggle = true;

		$(".sidebar-icon").click(
				function() {
					if (toggle) {
						$(".page-container").addClass("sidebar-collapsed")
								.removeClass("sidebar-collapsed-back");
						$("#menu span").css({
							"position" : "absolute"
						});
					} else {
						$(".page-container").removeClass("sidebar-collapsed")
								.addClass("sidebar-collapsed-back");
						setTimeout(function() {
							$("#menu span").css({
								"position" : "relative"
							});
						}, 400);
					}
					toggle = !toggle;
				});
	</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<script src="js/bootstrap.js">
		
	</script>
	<!-- mother grid end here-->
</body>
</html>