<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all">
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--js-->
<script src="js/jquery-2.1.1.min.js"></script>
<!--icons-css-->
<link href="css/font-awesome.css" rel="stylesheet">
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Carrois+Gothic'
	rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600'
	rel='stylesheet' type='text/css'>
<!--//skycons-icons-->
</head>
<body>
	<div class="page-container">
		<div class="left-content">
			<div class="mother-grid-inner">
				<!--header start here-->
				<div class="header-main">
					<div class="header-left">
						<div class="logo-name">
							<a th:href="@{/againOnMainPage}">
								<h1>ProjectManagement</h1> <!--<img id="logo" src="" alt="Logo"/>-->
							</a>
						</div>
						<!--search-box-->
						<!--//end-search-box-->
						<div class="clearfix"></div>
					</div>
					<div class="header-right">
						<div class="profile_details_left">
							<!--notifications of menu start -->
							
							<div class="clearfix"></div>
						</div>
						<!--notification menu end -->
						<div class="profile_details">
							<ul>
								<li class="dropdown profile_details_drop"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">
										<div class="profile_img">
											<div class="user-name">
												<p th:text=${userDetail}></p>
												<span th:text="${userRole}"></span>
											</div>
											<i class="fa fa-angle-down lnr"></i> <i
												class="fa fa-angle-up lnr"></i>
											<div class="clearfix"></div>
										</div>
								</a>
									<ul class="dropdown-menu drp-mnu">
										<li><a th:href="@{/logouts}"><i
												class="fa fa-sign-out"></i> Logout</a></li>
									</ul></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!--heder end here-->
				<!-- script-for sticky-nav -->
				<script>
					$(document).ready(function() {
						var navoffeset = $(".header-main").offset().top;
						$(window).scroll(function() {
							var scrollpos = $(window).scrollTop();
							if (scrollpos >= navoffeset) {
								$(".header-main").addClass("fixed");
							} else {
								$(".header-main").removeClass("fixed");
							}
						});

					});
				</script>
				<!-- /script-for sticky-nav -->
				<!--inner block start here-->
				<div class="inner-block">
					<div class="blank">
						<div class="alert alert-info">Project Detail</div>
						
						<strong>Title : </strong> <p th:text="${titleofProject}"></p>  <br>
						<strong>Description : </strong> <p th:text="${descProject}"></p> <br>
						
						<strong>Start Date : </strong>  <p th:text="${startDate}"></p> <br>
						<strong>End Date : </strong> <p th:text="${endDate}"></p> <br>
						<strong>Leader :</strong> <p th:text="${leaderUSerName}"></p> <br>
						<strong>Employee Working :</strong> 
						<table>
						<tr th:each = "userDetail: ${listOfEmployee}">  
							<td>
							<p th:text ="${userDetail.User_Name}" ></p></td> 
						</tr>   
						</table>
						<a th:href="@{/editInProject(projectId = ${projectId})}"> Edit In A Project</a>
					</div>
				</div>  	   
				<!--inner block end here-->
				<!--copy rights start here-->

				<!--COPY rights end here-->
			</div>
		</div>
		<!--slider menu-->
		<div class="sidebar-menu">
			<div class="logo">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span>
				</a> <a href="#"> <span id="logo"></span> <!--<img id="logo" src="" alt="Logo"/>-->
				</a>
			</div>
			<div class="	menu">
				<ul id="menu">
					<li id="menu-home"><a th:href="@{/againOnMainPage}"><i
							class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
					<li><a href="#"><i class="fa fa-cogs"></i><span>Project</span><span
							class="fa fa-angle-right" style="float: right"></span></a>
						<ul>
							<li><a th:href="@{/getProject}">Project History</a></li>
							<li><a th:href="@{/addNewProject}">Create Project</a></li>

						</ul></li>
					<li id="menu-comunicacao"><a href="#"><i
							class="fa fa-book nav_icon"></i><span>Employees</span><span
							class="fa fa-angle-right" style="float: right"></span></a>
						<ul id="menu-comunicacao-sub">
							<!-- 							<li id="menu-mensagens" style="width: 120px"><a -->
							<!-- 								href="buttons.html">User Details</a></li> -->
							<li id="menu-arquivos"><a th:href="@{/addEmployee}">Add
									Employee</a></li>
							<li id="menu-arquivos"><a th:href="@{/listOfEmployee}">Employee
									Detail</a></li>
					
						</ul></li>
					

				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!--slide bar menu end here-->
	<script>
		var toggle = true;

		$(".sidebar-icon").click(
				function() {
					if (toggle) {
						$(".page-container").addClass("sidebar-collapsed")
								.removeClass("sidebar-collapsed-back");
						$("#menu span").css({
							"position" : "absolute"
						});
					} else {
						$(".page-container").removeClass("sidebar-collapsed")
								.addClass("sidebar-collapsed-back");
						setTimeout(function() {
							$("#menu span").css({
								"position" : "relative"
							});
						}, 400);
					}
					toggle = !toggle;
				});
	</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<script src="js/bootstrap.js">
		
	</script>
	<!-- mother grid end here-->
</body>
</html>